{% extends 'shop/layouts/main.html' %}

{% block title %}
<title>Register | Online-Shop</title>

{% endblock title %}
{% block content %}
<div class="container " style="margin-top: 60px;">
    <div class="row">
        <div class="col-12">
            <h3>New User Registration</h3>
            <hr style="border-color:cadetblue;">
        {% include 'shop/inc/message.html' %}

        </div>
    </div>
</div>

<section class="mb-4">
<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="" class="form-lable">Enter Username</label>
                    {{form.username}}
                </div>
                <div class="mb-4">
                    <label for="" class="form-lable">Enter Email</label>
                    {{form.email}}
                </div>
                <div class="mb-4">
                    <label for="psw"  class="form-lable">Enter Password</label>

                    {{form.password1}}
                    <input type="checkbox" onclick="myFunction()">  Show Password
                
                </div>
                <div class="mb-4">
                    <label for="" class="form-lable">Enter Confirm Password</label>
                    {{form.password2}}
                </div>

            <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <p>Already have Acount, <a href="{% url 'login' %}">Login Now</a></p>
        </div>

        <div class="col-6">
            
                <div class="mb-4">
                   {% if form.errors.username%}
                    <label for="" class="text-danger d-block">{{ form.errors.username }}</label>
                    {%endif%}
                </div>
                <div class="mb-4">
                    {% if form.errors.email%}
                    <label for="" class="text-danger d-block">{{ form.errors.email }}</label>
                    {%endif%}
                </div>
                <div class="mb-4">
                    {% if form.errors.password1%}
                    <label for="" class="text-danger d-block">{{ form.errors.password1 }}</label>
                    {%endif%}
                </div>
                <div class="mb-4">
                    {% if form.errors.password2%}
                    <label for="" class="text-danger d-block">{{ form.errors.password2 }}</label>
                    {%endif%}
                </div>

        </div>
    </div>
</div>
</section>


{% endblock content %}

